/* Modal Container */

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#modal_container {
    border: solid white 10px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eeeeeb;
    transition: all 0.5s;
    color:#1C4670;
}

.modal-input1{
    font-size: 20px; 
    background-color:#1DC690; 
    color:white;
    

}
.modal-input2{
    font-size: 20px; 
    margin-bottom:10px;
    background-color:#278AB0 ;
    color:white;
}
#modal_container > div {
    padding: 2em;
}

#modal_container h1 {
    padding-bottom: 1em;
    justify-content:center;
    display:flex;
    text-decoration: underline;
}

#modal_container input {
    margin: 0 0 10px 0;
    width: 500px;
}

/* Modal Buttons */

#modal_container button {
    border: 1px solid #000;
    border-radius: .5em;
}    

#modal_container button:hover {
    background-color: #000;
    color: #fff;
}

#create {
    background-color: #1C4670;
    color:white;
    height: 30px;
    width: 100px;
}
#cancel{
    background-color: white;
    float: right;
}
/* Event INFO Modal Parent Container */

#overlay_2 {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

#event_modal_container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #fcfcf9;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebebde;
    transition: all 0.5s;
    width: 800px;
}

#event_modal_container > div {
    padding: 2em;
}

#event_modal_container h1 {
    padding-bottom: 1em;
}


/* Events INFO Modal API Containers */
#maps_container {
    border: 2px solid #000;
    height: 200px;
    margin: 0 0 10px 0;
    width: 735px;
}

#weather_container {
    background-color:rgba(0, 0, 0, 0.15);
    border: 2px solid #000;
    height: 300px;
    margin: 0 0 10px 0;
    width: 735px;
}

    #items_container {
        position: relative;
        text-align: center;
    }

    #location_name {
        text-align: center;
    }


/* Event Modal INFO Buttons */

#event_modal_container button {
    border: 1px solid #000;
    border-radius: .5em;
    background-color: #fff;;
    color: #000;

}    

#event_modal_container button:hover {
    background-color: #000;
    color: #fff;
}

#cancel-2 {
    float: right;
}

#delete-event {
    float: right;
    margin-right: 5px;
}

#add-event-title {
    margin-bottom: 0px;
    padding-bottom: 2rem!important;
/* Google Maps API */
}

#map {
    height: 100%;
    width: 100%;
}

@media all and (max-width: 581px) {
    #modal_container input {
        width: 300px;
    }
}