body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f7f9fa;
}

#projectname {
    background-color: #fcfcf9;
    color:#1C4670;
    padding-bottom:20px;
    padding-top: 20px;
    text-decoration: underline;
    border:solid white;
    border-radius: 5px;
    margin-top:20px;
    display: flex;
    justify-content: center;
}
#projectname h1{
    font-size: 60px;
    
}
.dayname{
    font-size: 20px;
    padding-left: 80px;
    text-decoration: underline;
    color:#1C4670;
    display: flex;

}
.familyoption{
    display:flex;
    justify-content: center;
    padding: 30px;
}
.familyoption p{
    margin-left: 20px;
    width: 50px;
    padding-top:10px;
}
#option1{
    background-color:#1DC690;
    border: solid white;
    width: 50px;
    height:50px;
    border-radius: 10px;
}
#option2{
    margin-left: 35%;
    background-color:#278AB0;
    border: solid white;
    border-radius: 10px;
    width: 50px;
    height:50px;
}
.neweventbtn{
    margin-left:30px;
    margin-bottom: 30px;
    background-color: #1C4670;
    color:white;
    border: solid white;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.eventbtn {
    display: flex;
    justify-content: center;
}
#table{
    background-color:#fcfcf9;
    color:#1C4670;
    border: solid #1C4670;
    border-radius: 5px;
}
.calendar-event{
    border: 2px solid #1C4670;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px 5px;
}
@media all and (max-width:576px) {
    .dayname {
        display: none;
    }
}
@media all and (max-width:576px) {
    .col-sm {
        max-height: 70px;
        display: flex;
        align-content: stretch;
        justify-content: stretch;
        justify-content:space-between
     }
}

/* Modal Container */

#overlay {
    /* "none" is removed from display when Cancel is clicked */
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

#modal_container {
    font-family: 'Josefin Sans', 'Franklin Gothic Medium' , sans-serif;
    border: 1px solid #fcfcf9;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebebde;
    transition: all 0.5s;
}

#modal_container > div {
    padding: 2em;
}

#modal_container h1 {
    padding-bottom: 1em;
}

#modal_container input {
    margin: 0 0 10px 0;
    width: 500px;
}

/* Modal Buttons */

#modal_container button {
    border: 1px solid #000;
    border-radius: .5em;
    background-color: #fff;;
    color: #000;

}    

#modal_container button:hover {
    background-color: #000;
    color: #fff;
}

#create {
    margin: 0 22.8em 0 0;
}

/* Event INFO Modal Parent Container */

#overlay_2 {
    /* "none" is removed from display when Cancel is clicked */
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

#event_modal_container {
    font-family: 'Josefin Sans', 'Franklin Gothic Medium' , sans-serif;
    border: 1px solid #fcfcf9;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebebde;
    transition: all 0.5s;
}

#event_modal_container > div {
    padding: 2em;
}

#event_modal_container h1 {
    padding-bottom: 1em;
}


/* Events INFO Modal API Containers */
#maps_container {
    border: 2px solid #000;
    height: 100px;
    margin: 0 0 10px 0;
    width: 500px;
}

#weather_container {
    border: 2px solid #000;
    height: 100px;
    margin: 0 0 10px 0;
    width: 500px;
}

/* Event Modal INFO Buttons */

#event_modal_container button {
    border: 1px solid #000;
    border-radius: .5em;
    background-color: #fff;;
    color: #000;

}    

#event_modal_container button:hover {
    background-color: #000;
    color: #fff;
}

#edit {
    margin: 0 24.4em 0 0;
}

